XSD/SA-UC2-NonAcademicInformationEvidenceType.XSD

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sauc2="urn:eu-de4a:xsd:CanonicalEvidenceType::NonAcademicInformationEvidence:v1.0"
            xmlns:edci="http://data.europa.eu/europass/model/credentials#"
            xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
            targetNamespace="urn:eu-de4a:xsd:CanonicalEvidenceType::NonAcademicInformationEvidence:v1.0">

    <xsd:import namespace="http://data.europa.eu/europass/model/credentials#"
                schemaLocation="edci_credentialTypes.xsd"/>
    <xsd:import namespace="http://www.w3.org/ns/corevocabulary/BasicComponents"
                schemaLocation="CoreVocabularyBasicComponents-v1.00.xsd"/>
    <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                schemaLocation="common/UBL-CommonBasicComponents-2.0.xsd"/>

    <xsd:element name="NonAcademicInformation" type="sauc2:NonAcademicInformationEvidenceType"/>
    <xsd:complexType name="NonAcademicInformationEvidenceType">
        <xsd:sequence>
            <xsd:element name="beneficiary" type="edci:PersonType">
                <xsd:annotation>
                    <xsd:documentation>Person corresponding to this non-academic evidence information
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="largeFamily" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Flag (true/false) indicating whether the beneficiary is member of a large family
                        or whether they themselves have a large family - if true, then the information of the large family certificate (next element) must be also entered
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="largeFamilyCertificate" type="sauc2:largeFamilyCertificateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>In cases of big family (above attribute is true), then this info must be entered
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="disability" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Flag (true/false) indicating whether the beneficiary is disabled or not - if true, then the information of the disability certificate (next element) must be also entered
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="disabilityCertificate" type="sauc2:disabilityCertificateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>In cases of big family (above attribute is true), then this info must be entered
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="largeFamilyCertificateType">
        <xsd:sequence>
            <xsd:element name="certificateID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The ID of the large family certificate</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="validCertificate" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>True/false depending on whether the certificate is valid or not</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="issuingDate" type="cbc:DateType">
                <xsd:annotation>
                    <xsd:documentation>Date of issue of the large family certificate</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="expiryDate" type="cbc:DateType">
                <xsd:annotation>
                    <xsd:documentation>Expiry date of the large family certificate</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numberOfChildren" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Indicates the number of children the holder of the large family title has</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="disabilityCertificateType">
        <xsd:sequence>
            <xsd:element name="certificateID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The ID of the disability certificate</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="effectiveDate" type="cbc:DateType">
                <xsd:annotation>
                    <xsd:documentation>Date from which the disability certificate is valid</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="revisionDate" type="cbc:DateType">
                <xsd:annotation>
                    <xsd:documentation>Date on which the disability certificate will be reviewed</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="disabilityPercentage" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Specifies the degree of disability of the beneficiary. Indicated as a percentage.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>



</xsd:schema>
